/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

label {
  text-align: center;
}

input,
select,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: px;
  margin: 0 auto;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
} */
